#zipError {
    padding: 0;
    margin-top: 15px;
}

#usernameError {
    padding: 0;
    margin-top: 15px;
}

#passwordError {
    padding: 0;
    margin-top: 15px;
}

#passwordAgainError {
    padding: 0;
    margin-top: 15px;
}